@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Red+Hat+Text:wght@700&display=swap');


.page-container {
    width: 100vw;
    background: url("./images/bg-header-mobile.svg") top no-repeat,  hsl(180, 52%, 96%) bottom;
    background-size: 100vw auto, cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 95vw;
    margin-top: 10vh;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.logo, .info, .tags {
    margin-bottom: 15px;
}

.company, .new, .featured, .position, .postedAt, .contract, .location {
    display: inline;
    margin-right: 20px;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.company {
    color: hsl(180, 29%, 50%);
}

.new {
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
    padding: 3px 8px 3px 8px;
    border-radius: 15px;
}

.featured {
    background-color: black;
    color: hsl(180, 31%, 95%);
    border-radius: 15px;
    padding: 3px 8px 3px 8px;
}

.position {
    font-weight: 700;
}

.position:hover {
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.postedAt, .contract, .location {
    color: hsl(180, 8%, 52%);
}

.logo {
    margin-right: 20px;
}

.tags, .logo {
    display: flex;
    align-items: center;
}

.tags ul, #filterbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.tags ul li, #filterbar ul li {
    margin:  0 10px 10px 0;
    padding: 8px;
    border-radius: 5px;
    background-color: hsl(180, 31%, 95%);
    color: hsl(180, 29%, 50%);
}

.tags ul li:hover {
    color: hsl(180, 31%, 95%);
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.tags ul li div {
    margin: -8px -8px -8px -8px;
    height: 40px;
    width: 70px;
}

.tags ul li div button {
    position: relative;
    width: 100%;
    height: 100%;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#filterbar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

#filterbar ul {
    flex-wrap: wrap;
    margin-left: 30px;
}

#filterbar ul li {
    padding: 8px;
    margin: 5px;
    display: inline-block;
}

#filterbar ul li div {
    display: inline-block;
    margin: -8px -8px -8px 5px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    background-color: hsl(180, 29%, 50%);
    border-radius: 0 5px 5px 0;
}

#filterbar ul li div button {
    position: relative;
    width: 100%;
    height: 100%;
}

#filterbar ul li div button:hover {
    background-color: black;
    border-radius: 0 5px 5px 0;
}

#filterbar ul li div button img  {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 15px;
    height: 15px;
}

@media (min-width: 375px) { 
	.page-container {
        background: url("./images/bg-header-desktop.svg") top repeat-x,  hsl(180, 52%, 96%) bottom;
        background-size: auto 15vh, cover;
    }
    .container {
        width: 75vw;
    }
}

@media (min-width: 875px) {
    .card {
        flex-direction: row;
    }
    .logo, .info, .tags {
        margin-bottom: 0;
    }
    .tags {
        margin-left: auto;
    }
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: v
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 500, 700
*/
